body{
	background-color: #fff;
}

.sidebar-wrapper{
	background-color: #464457;
}
.nav{
	background-color: #464457;
}
.navbar-fixed{
	background-color: #464457;
}
/*.form-control{
	background-color: #fff;
	width: 40%;
}*/
.footer{
	background-color: #464457;
}
.container-fluid{
	background-color: #464457;
}
.form-group{
	width: 60%;
}

div .form_left{
	float: left;
	width:60%;
}
.picture{
	height: 400px;
	width: 400px;
	background-color: green;
}
